<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900" i18n>Log in</h1>
    </div>
</header>

<main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">

        <div class="px-3">
            <div class="grid gap-6 mb-6 md:grid-cols-4">
                <div class="md:col-start-2 md:col-span-2">
                    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow">

                        <div class="text-center mb-3">
                            <img class="h-auto w-[250px] mx-auto" src="assets/img/api2app-logo.svg" alt="Api2App">
                        </div>

                        <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isLoggedIn; else templateLoggedIn">
                            <div class="mb-3">
                                <label for="formFieldUsername" class="block mb-2 text-sm font-medium text-gray-900" i18n>Username</label>
                                <input type="text" id="formFieldUsername"
                                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                       placeholder="Enter your login"
                                       formControlName="username"
                                       required i18n-placeholder>
                            </div>
                            <div class="mb-3">
                                <label for="formFieldPassword" class="block mb-2 text-sm font-medium text-gray-900" i18n>Password</label>
                                <input type="password" id="formFieldPassword"
                                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                       placeholder="Enter your password"
                                       formControlName="password"
                                       required i18n-placeholder>
                            </div>
                            <div>
                                <button type="submit"
                                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
                                        [disabled]="submitted">
                                    <svg aria-hidden="true" class="inline w-4 h-4 mr-2 text-gray-200 animate-spin fill-gray-600 " viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg" *ngIf="submitted">
                                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                                    </svg>
                                    <span i18n>Log in</span>
                                </button>
                            </div>
                        </form>

                    </div>

                    <div class="pt-4">
                        <a class="text-teal-600 underline transition hover:text-teal-600/75 cursor-pointer"
                            [routerLink]="['/auth', 'register']">
                            <span i18n>Register</span>
                        </a>
                        <span class="mx-2 text-gray-700">&middot;</span>
                        <a class="text-teal-600 underline transition hover:text-teal-600/75 cursor-pointer"
                           [routerLink]="['/auth', 'password_reset']">
                            <span i18n>Reset the password</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</main>

<app-alert [message]="message" [type]="messageType"></app-alert>

<ng-template #templateLoggedIn>
    <div class="flex items-center p-4 mb-4 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50" role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only" i18n>Info</span>
        <div>
            <span i18n>You are logged in as</span> &nbsp; <b>{{ user?.username }}</b>.
        </div>
    </div>
    <div>
        <a class="inline-block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
            [routerLink]="['/auth', 'logout']" i18n>Log Out</a>
    </div>
</ng-template>
