<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900" i18n>Page not found</h1>
    </div>
</header>

<main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">

        <p class="mb-3" i18n>Error 404.</p>
        <p>
            <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
               [routerLink]="['/']" i18n>Back to the main page.</a>
        </p>

    </div>
</main>
