<div class="relative group/element">

    <ng-container [ngSwitch]="type">

        <ng-container *ngSwitchCase="null">
            <div class="min-h[15px] mb-3">
                <div class="w-full max-w-[600px] mx-auto">
                    <ng-select class="ng-select-custom" [items]="inputTypes"
                               bindLabel="title"
                               bindValue="name"
                               placeholder="Select Element Type"
                               i18n-placeholder
                               [clearable]="false"
                               [(ngModel)]="type"
                               (ngModelChange)="updateItemType()">
                        <ng-template ng-option-tmp let-item="item">
                            <i class="bi bi-type-h1 mr-1 text-gray-400" *ngIf="item.name === 'text-header'"></i>
                            <i class="bi bi-fonts mr-1 text-gray-400" *ngIf="item.name === 'text'"></i>
                            <i class="bi bi-app mr-1 text-gray-400" *ngIf="item.name === 'button'"></i>
                            <i class="bi bi-input-cursor-text mr-1 text-gray-400" *ngIf="item.name === 'input-text'"></i>
                            <i class="bi bi-1-square mr-1 text-gray-400" *ngIf="item.name === 'input-number'"></i>
                            <i class="bi bi-textarea-resize mr-1 text-gray-400" *ngIf="item.name === 'input-textarea'"></i>
                            <i class="bi bi-input-cursor mr-1 text-gray-400" *ngIf="item.name === 'input-hidden'"></i>
                            <i class="bi bi-toggle-off mr-1 text-gray-400" *ngIf="item.name === 'input-switch'"></i>
                            <i class="bi bi-menu-button mr-1 text-gray-400" *ngIf="item.name === 'input-select'"></i>
                            <i class="bi bi-tag mr-1 text-gray-400" *ngIf="item.name === 'input-tags'"></i>
                            <i class="bi bi-ui-radios mr-1 text-gray-400" *ngIf="item.name === 'input-radio'"></i>
                            <i class="bi bi-calendar3 mr-1 text-gray-400" *ngIf="item.name === 'input-date'"></i>
                            <i class="bi bi-upload mr-1 text-gray-400" *ngIf="item.name === 'input-file'"></i>
                            <i class="bi bi-image mr-1 text-gray-400" *ngIf="item.name === 'image'"></i>
                            <i class="bi bi-music-note-beamed mr-1 text-gray-400" *ngIf="item.name === 'audio'"></i>
                            <i class="bi bi-graph-up mr-1 text-gray-400" *ngIf="item.name === 'input-chart-line'"></i>
                            {{ item.title }}
                        </ng-template>
                    </ng-select>
                </div>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'text'">
            <div class="mb-3"
                 [ngClass]="{
                 'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode,
                 'whitespace-pre-line': options?.whiteSpacePre,
                 'min-h-[20px]': editorMode,
                 'text-gray-500': options?.color === 'Gray',
                 'text-green-500': options?.color === 'Green',
                 'text-blue-500': options?.color === 'Blue',
                 'text-red-500': options?.color === 'Red'
                 }">
                <span *ngIf="options?.prefixText && editorMode">{{ options?.prefixText }}</span>
                <span *ngIf="options?.value" [innerHTML]="options?.value | toHtml"></span>
                <span class="text-gray-400" *ngIf="!options?.value && editorMode">{{ options?.name }}</span>
                <span *ngIf="options?.suffixText && editorMode">{{ options?.suffixText }}</span>
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'text-header'">
            <h4 class="text-2xl font-bold mb-3 min-h-[20px]"
                [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">
                <span *ngIf="options?.value">{{ options?.value }}</span>
                <span class="text-gray-400" *ngIf="!options?.value && editorMode">{{ options?.name }}</span>
            </h4>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'button'">
            <div class="mb-3"
                 [ngClass]="{'rounded-full ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">
                <button type="button" class="block w-full max-w-[600px] mx-auto text-white focus:outline-none focus:ring-4 font-medium rounded-full text-sm px-5 py-2.5 text-center"
                    [ngClass]="{
                    'bg-green-500 hover:bg-green-700 focus:ring-green-300': options?.color === 'Green',
                    'bg-blue-500 hover:bg-blue-700 focus:ring-blue-300': options?.color === 'Blue',
                    'bg-red-500 hover:bg-red-700 focus:ring-red-300': options?.color === 'Red'
                    }"
                    (click)="onClick()">
                    {{ options?.value }}
                </button>
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'input-text'">
            <div class="mb-3"
                 [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">
                <div class="w-full max-w-[600px] mx-auto">
                    <label for="{{ options?.name }}-{{ parentIndex }}-{{ index }}" class="block mb-2 text-sm font-medium text-gray-900">
                        {{ options?.label }}
                    </label>
                    <input type="text" id="{{ options?.name }}-{{ parentIndex }}-{{ index }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                           [placeholder]="options?.placeholder || ''"
                           [readonly]="options?.readOnly"
                           [(ngModel)]="options.value">
                </div>
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'input-textarea'">
            <div class="mb-3"
                 [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">
                <div class="w-full max-w-[600px] mx-auto">
                    <label for="{{ options?.name }}-{{ parentIndex }}-{{ index }}" class="block mb-2 text-sm font-medium text-gray-900">
                        {{ options?.label }}
                    </label>
                    <textarea id="{{ options?.name }}-{{ parentIndex }}-{{ index }}" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                              [placeholder]="options?.placeholder || ''"
                              [readonly]="options?.readOnly"
                              [(ngModel)]="options.value"></textarea>
                </div>
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'input-hidden'">
            <div [ngClass]="{'mb-3 rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">
                <input [type]="editorMode ? 'text' : 'hidden'" id="{{ options?.name }}-{{ parentIndex }}-{{ index }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                       placeholder="Hidden text field"
                       i18n-placeholder
                       [(ngModel)]="options.value">
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'input-switch'">
            <div class="mb-3"
                 [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">
                <div class="block w-full max-w-[600px] mx-auto pt-1">
                    <label class="relative inline-flex items-center cursor-pointer">
                        <input type="checkbox" class="sr-only peer"
                               [value]="options.value"
                               [checked]="options?.enabled"
                               (change)="onChange('enabled', options?.enabled)">
                        <div class="relative w-11 min-w-[2.75rem] h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all peer-checked:bg-blue-600"></div>
                        <span class="ms-3 text-sm font-medium text-gray-900">
                            {{ options.label }}
                        </span>
                    </label>
                </div>
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'input-select'">
            <div class="mb-3"
                 [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">
                <div class="w-full max-w-[600px] mx-auto">
                    <label for="{{ options?.name }}-{{ parentIndex }}-{{ index }}" class="block mb-2 text-sm font-medium text-gray-900">
                        {{ options?.label }}
                    </label>
                    <ng-container *ngIf="options?.valueArr; else templateSelectSimple">
                        <ng-select class="ng-select-custom"
                                   [items]="options.valueArr"
                                   [bindLabel]="options?.itemFieldNameForTitle"
                                   [bindValue]="options?.itemFieldNameForValue"
                                   [placeholder]="options.placeholder"
                                   [clearable]="options.clearable"
                                   labelForId="{{ options?.name }}-{{ parentIndex }}-{{ index }}"
                                   (change)="onFieldValueChanged()"
                                   [(ngModel)]="options.value">
                        </ng-select>
                    </ng-container>
                    <ng-template #templateSelectSimple>
                        <ng-select class="ng-select-custom"
                                   [items]="options.choices"
                                   [placeholder]="options.placeholder"
                                   [clearable]="options.clearable"
                                   labelForId="{{ options?.name }}-{{ parentIndex }}-{{ index }}"
                                   (change)="onFieldValueChanged()"
                                   [(ngModel)]="options.value">
                            <ng-template ng-label-tmp let-item="item">
                                <span class="capitalize">{{ item }}</span>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item">
                                <span class="capitalize">{{ item }}</span>
                            </ng-template>
                        </ng-select>
                    </ng-template>
                </div>
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'input-tags'">
            <div class="mb-3"
                 [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">
                <div class="w-full max-w-[600px] mx-auto">
                    <label for="{{ options?.name }}-{{ parentIndex }}-{{ index }}" class="block mb-2 text-sm font-medium text-gray-900">
                        {{ options?.label }}
                    </label>
                    <ng-select class="ng-select-custom"
                               [items]="options.choices"
                               [placeholder]="options.placeholder"
                               [clearable]="false"
                               [addTag]="true"
                               [multiple]="true"
                               [selectOnTab]="true"
                               labelForId="{{ options?.name }}-{{ parentIndex }}-{{ index }}"
                               [(ngModel)]="options.value">
                    </ng-select>
                </div>
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'input-radio'">
            <div class="mb-3"
                 [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">
                <div class="w-full max-w-[600px] mx-auto">
                    <label for="{{ options?.name }}-{{ parentIndex }}-{{ index }}" class="block mb-2 text-sm font-medium text-gray-900">
                        {{ options?.label }}
                    </label>
                    <fieldset>
                        <legend class="sr-only">Countries</legend>
                        <div class="flex items-center mb-4" *ngFor="let option of options.choices; index as optIndex">
                            <input id="{{ options?.name }}-{{ parentIndex }}-{{ index }}-{{ optIndex }}"
                                   type="radio"
                                   name="{{ options?.name }}-{{ parentIndex }}-{{ index }}"
                                   class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300"
                                   [value]="option"
                                   [(ngModel)]="options.value">
                            <label for="{{ options?.name }}-{{ parentIndex }}-{{ index }}-{{ optIndex }}"
                                   class="block ms-2  text-sm font-medium text-gray-900">
                                {{ option }}
                            </label>
                        </div>
                    </fieldset>
                </div>
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'input-number'">
            <div class="mb-3"
                 [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">
                <div class="w-full max-w-[600px] mx-auto">
                    <label for="{{ options?.name }}-{{ parentIndex }}-{{ index }}" class="block mb-2 text-sm font-medium text-gray-900">
                        {{ options?.label }}
                    </label>
                    <div class="relative flex items-center w-full">
                        <button type="button" class="bg-gray-100 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 focus:ring-gray-100 focus:ring-2 focus:outline-none"
                                (click)="numberDecrease('value', options?.min)">
                            <svg class="w-3 h-3 text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                            </svg>
                        </button>
                        <input type="number" id="{{ options?.name }}-{{ parentIndex }}-{{ index }}"
                               class="bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5"
                               [(ngModel)]="options.value">
                        <button type="button" data-input-counter-increment="quantity-input" class="bg-gray-100 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 focus:ring-2 focus:outline-none"
                                (click)="numberIncrease('value', options?.max)">
                            <svg class="w-3 h-3 text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'input-date'">
            <div class="mb-3"
                 [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">
                <div class="block w-full max-w-[600px] mx-auto">
                    <label for="{{ options?.name }}-{{ parentIndex }}-{{ index }}" class="block mb-2 text-sm font-medium text-gray-900">
                        {{ options?.label }}
                    </label>
                    <div class="p-2 bg-gray-50 text-gray-700 rounded border border-slate-300 shadow-md">
                        <input type="datetime-local"
                               class="block border-0 w-full bg-transparent"
                               id="{{ options?.name }}-{{ parentIndex }}-{{ index }}"
                               [(ngModel)]="options.value">
                    </div>
                </div>
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'input-file'">
            <div class="mb-3"
                 [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">
                <div class="w-full max-w-[600px] mx-auto">
                    <label for="{{ options?.name }}-{{ parentIndex }}-{{ index }}" class="block mb-2 text-sm font-medium text-gray-900">
                        {{ options?.label }}
                    </label>
                    <app-file-upload
                        [multiple]="options?.multiple"
                        [fileInputAccept]="options?.accept"
                        [placeholder]="options?.placeholder"
                        [(ngModel)]="options.value"></app-file-upload>
                </div>
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'audio'">
            <div class="mb-3"
                 [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">
                <div class="block w-full max-w-[600px] mx-auto">
                    <audio class="block w-full" [src]="options?.value" controls *ngIf="options?.value"></audio>
                    <div class="px-4 py-2 bg-gray-50 text-gray-700 rounded border border-slate-300 shadow-md text-center" *ngIf="!options?.value && editorMode">
                        <i class="bi bi-music-note-beamed mr-2"></i>
                        <span i18n>Audio</span>
                    </div>
                </div>
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'image'">
            <div class="mb-3"
                 [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">
                <ng-container *ngIf="options?.valueArr && options?.valueArr.length > 0; else templateImageItem">
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
                        <div class="p-3 bg-gray-100 rounded border border-slate-300 shadow-md" *ngFor="let image of options.valueArr">
                            <a class="block" [href]="image[options?.itemFieldName]" target="_blank">
                                <img class="w-full h-auto max-w-full" [src]="image[options?.itemThumbnailFieldName]" alt="">
                            </a>
                        </div>
                    </div>
                </ng-container>
                <ng-template #templateImageItem>
                    <div class="block w-full max-w-[600px] mx-auto">
                        <a [href]="options?.value" target="_blank" *ngIf="options?.value">
                            <img class="block w-full h-auto max-w-full" [src]="options?.value" alt="">
                        </a>
                        <div class="px-4 py-2 bg-gray-100 rounded border border-slate-300 shadow-md text-center"
                             *ngIf="!options?.value && editorMode">
                            <i class="bi bi-image mr-2"></i>
                            <span i18n>Image</span>
                        </div>
                    </div>
                </ng-template>
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'input-chart-line'">
            <div class="mb-3"
                 [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">
                <apx-chart
                    [title]="{text: options?.label}"
                    [series]="chartOptions?.series"
                    [xaxis]="chartOptions?.xaxis"
                    [chart]="chartOptions?.chart"
                    [colors]="chartOptions?.colors"
                    [markers]="chartOptions?.markers"
                    [fill]="chartOptions?.fill"
                    [stroke]="{width: 2}"
                    [dataLabels]="{enabled: false}"></apx-chart>
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchDefault>
            <div class="min-h-[20px] mb-3"
                 [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}"></div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

    </ng-container>

</div>

<ng-template #templateButtonOptions>
    <div class="absolute -right-2 -top-2 z-20 invisible group-hover/element:visible" *ngIf="editorMode">
        <button type="button" class="cursor-pointer shadow-md shadow-gray-400 text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-gray-300 rounded-lg px-2 py-1 me-2"
                title="Options"
                i18n-title
                (click)="elementOptionsInit($event)">
            <i class="bi bi-gear-fill text-base"></i>
        </button>
        <button type="button" class="cursor-pointer shadow-md shadow-gray-400 text-white bg-teal-500 hover:bg-teal-600 focus:outline-none focus:ring-4 focus:ring-gray-300 rounded-lg px-2 py-1 me-2"
                title="Input Action"
                i18n-title
                (click)="elementActionSelect('input', $event)" *ngIf="type.includes('input-')">
            <i class="bi bi-arrow-down text-base"></i>
            <i class="bi bi-lightning-charge-fill text-base"></i>
        </button>
        <button type="button" class="cursor-pointer shadow-md shadow-gray-400 text-white bg-violet-500 hover:bg-violet-600 focus:outline-none focus:ring-4 focus:ring-gray-300 rounded-lg px-2 py-1 me-2"
                title="Output Action"
                i18n-title
                (click)="elementActionSelect('output', $event)">
            <i class="bi bi-arrow-up text-base"></i>
            <i class="bi bi-lightning-charge-fill text-base"></i>
        </button>
        <button type="button" class="cursor-pointer shadow-md shadow-gray-400 text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-4 focus:ring-gray-300 rounded-lg px-2 py-1"
                title="Delete"
                i18n-title
                (click)="elementDeleteInit()">
            <i class="bi bi-trash3-fill text-base"></i>
        </button>
    </div>
</ng-template>
