<div class="relative group/element">

    <ng-container [ngSwitch]="type">

        <ng-container *ngSwitchCase="null">
            <div class="mb-3">
                <ng-select class="ng-select-custom" [items]="inputTypes"
                           bindLabel="title"
                           bindValue="name"
                           placeholder="Select Element Type"
                           [clearable]="false"
                           [(ngModel)]="type"
                           (ngModelChange)="updateItemType()">
                    <ng-template ng-option-tmp let-item="item">
                        <i class="bi bi-fonts mr-1 text-gray-400" *ngIf="item.name === 'text-header'"></i>
                        <i class="bi bi-fonts mr-1 text-gray-400" *ngIf="item.name === 'text'"></i>
                        <i class="bi bi-app mr-1 text-gray-400" *ngIf="item.name === 'button'"></i>
                        <i class="bi bi-input-cursor-text mr-1 text-gray-400" *ngIf="item.name === 'input-text'"></i>
                        <i class="bi bi-1-square mr-1 text-gray-400" *ngIf="item.name === 'input-number'"></i>
                        <i class="bi bi-textarea-resize mr-1 text-gray-400" *ngIf="item.name === 'input-textarea'"></i>
                        <i class="bi bi-toggle-off mr-1 text-gray-400" *ngIf="item.name === 'input-switch'"></i>
                        <i class="bi bi-menu-button mr-1 text-gray-400" *ngIf="item.name === 'input-select'"></i>
                        <i class="bi bi-tag mr-1 text-gray-400" *ngIf="item.name === 'input-tags'"></i>
                        <i class="bi bi-ui-radios mr-1 text-gray-400" *ngIf="item.name === 'input-radio'"></i>
                        {{ item.title }}
                    </ng-template>
                </ng-select>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'text'">
            <div class="mb-3"
                 [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">{{ options?.value }}</div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'text-header'">
            <h4 class="text-2xl font-bold mb-3 min-h-[20px]"
                [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">{{ options?.value }}</h4>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'button'">
            <div class="mb-3"
                 [ngClass]="{'rounded-full ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">
                <button type="button" class="block w-full text-white focus:outline-none focus:ring-4 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2"
                    [ngClass]="{
                    'bg-green-500 hover:bg-green-700 focus:ring-green-300': options?.color === 'Green',
                    'bg-blue-500 hover:bg-blue-700 focus:ring-blue-300': options?.color === 'Blue',
                    'bg-red-500 hover:bg-red-700 focus:ring-red-300': options?.color === 'Red'
                    }">
                    {{ options?.value }}
                </button>
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'input-text'">
            <div class="mb-3"
                 [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">
                <label for="{{ options?.name }}-{{ parentIndex }}-{{ index }}" class="block mb-2 text-sm font-medium text-gray-900">
                    {{ options?.label }}
                </label>
                <input type="text" id="{{ options?.name }}-{{ parentIndex }}-{{ index }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                       [placeholder]="options?.placeholder || ''"
                       [(ngModel)]="options.value">
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'input-textarea'">
            <div class="mb-3"
                 [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">
                <label for="{{ options?.name }}-{{ parentIndex }}-{{ index }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    {{ options?.label }}
                </label>
                <textarea id="{{ options?.name }}-{{ parentIndex }}-{{ index }}" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                          [placeholder]="options?.placeholder || ''"
                          [(ngModel)]="options.value"></textarea>
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'input-switch'">
            <div class="mb-3"
                 [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">
                <label class="relative inline-flex items-center cursor-pointer">
                    <input type="checkbox" value="" class="sr-only peer" [(ngModel)]="options.value">
                    <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                    <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">{{ options.label }}</span>
                </label>
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'input-select'">
            <div class="mb-3"
                 [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">
                <label for="{{ options?.name }}-{{ parentIndex }}-{{ index }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    {{ options?.label }}
                </label>
                <ng-select class="ng-select-custom"
                    [items]="options.choices"
                    [placeholder]="options.placeholder"
                    [clearable]="false"
                    labelForId="{{ options?.name }}-{{ parentIndex }}-{{ index }}"
                    [(ngModel)]="options.value">
                </ng-select>
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'input-tags'">
            <div class="mb-3"
                 [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ing-1': editorMode}">
                <label for="{{ options?.name }}-{{ parentIndex }}-{{ index }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    {{ options?.label }}
                </label>
                <ng-select class="ng-select-custom"
                    [items]="options.choices"
                    [placeholder]="options.placeholder"
                    [clearable]="false"
                    [addTag]="true"
                    [multiple]="true"
                    [selectOnTab]="true"
                    labelForId="{{ options?.name }}-{{ parentIndex }}-{{ index }}"
                    [(ngModel)]="options.value">
                </ng-select>
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'input-radio'">
            <div class="mb-3"
                 [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">
                <label for="{{ options?.name }}-{{ parentIndex }}-{{ index }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    {{ options?.label }}
                </label>
                <fieldset>
                    <legend class="sr-only">Countries</legend>
                    <div class="flex items-center mb-4" *ngFor="let option of options.choices; index as optIndex">
                        <input id="{{ options?.name }}-{{ parentIndex }}-{{ index }}-{{ optIndex }}"
                               type="radio"
                               name="{{ options?.name }}-{{ parentIndex }}-{{ index }}"
                               class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
                               [value]="option"
                               [(ngModel)]="options.value">
                        <label for="{{ options?.name }}-{{ parentIndex }}-{{ index }}-{{ optIndex }}"
                               class="block ms-2  text-sm font-medium text-gray-900 dark:text-gray-300">
                            {{ option }}
                        </label>
                    </div>
                </fieldset>
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'input-number'">
            <div class="mb-3"
                 [ngClass]="{'rounded ring-offset-2 ring-blue-400 group-hover/element:ring-1': editorMode}">
                <label for="{{ options?.type }}-{{ parentIndex }}-{{ index }}" class="block mb-2 text-sm font-medium text-gray-900">
                    {{ options?.label }}
                </label>
                <div class="relative flex items-center w-full">
                    <button type="button" class="bg-gray-100 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 focus:ring-gray-100 focus:ring-2 focus:outline-none"
                            (click)="numberDecrease('value', options.options?.min)">
                        <svg class="w-3 h-3 text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                        </svg>
                    </button>
                    <input type="text" id="{{ options?.type }}-{{ parentIndex }}-{{ index }}"
                           class="bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5"
                           [(ngModel)]="options.value">
                    <button type="button" data-input-counter-increment="quantity-input" class="bg-gray-100 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 focus:ring-2 focus:outline-none"
                            (click)="numberIncrease('value', options.options?.max)">
                        <svg class="w-3 h-3 text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                        </svg>
                    </button>
                </div>
            </div>
            <ng-container *ngTemplateOutlet="templateButtonOptions"></ng-container>
        </ng-container>

    </ng-container>

</div>

<ng-template #templateButtonOptions>
    <div class="absolute -right-2 -top-2 invisible group-hover/element:visible" *ngIf="editorMode">
        <button type="button" class="cursor-pointer shadow-md shadow-gray-400 text-white bg-blue-600 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-2 py-1 me-2"
                title="Options"
                (click)="elementOptionsInit($event)">
            <i class="bi bi-gear-fill text-xl"></i>
        </button>
        <button type="button" class="cursor-pointer shadow-md shadow-gray-400 text-white bg-red-600 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-2 py-1"
                title="Delete"
                (click)="elementDeleteInit()">
            <i class="bi bi-trash3-fill text-xl"></i>
        </button>
    </div>
</ng-template>
