<div class="p-6 bg-white border border-gray-200 rounded-lg shadow">

    <div class="flex items-center p-4 mb-4 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50" role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only" i18n>Info</span>
        <div i18n>
            You are not authorized. Please login or register.
        </div>
    </div>
    <div>
        <a class="inline-block text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-6 py-3 text-center mr-2"
            href="#login"
            (click)="navigateLogin($event)">
            <i class="bi bi-box-arrow-in-right mr-2"></i>
            <span i18n>Log in</span>
        </a>
        <a class="inline-block text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-6 py-3 text-center"
            href="#logout"
            (click)="navigateRegister($event)">
            <i class="bi bi-people-fill mr-2"></i>
            <span i18n>Register</span>
        </a>
    </div>

</div>
