<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">Log in</h1>
    </div>
</header>

<main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">

        <div class="px-3">
            <form>
                <div class="grid gap-6 mb-6 md:grid-cols-4">
                    <div class="md:col-start-2 md:col-span-2">
                        <div class="p-6 bg-white border border-gray-200 rounded-lg shadow">

                            <div class="mb-3">
                                <label for="formFieldUsername" class="block mb-2 text-sm font-medium text-gray-900">Username</label>
                                <input type="text" id="formFieldUsername" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Username" required>
                            </div>
                            <div class="mb-3">
                                <label for="formFieldPassword" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                                <input type="password" id="formFieldPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Password" required>
                            </div>
                            <div>
                                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Log in
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</main>
