<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900" i18n>Download</h1>
    </div>
</header>

<main>
    <div class="mx-auto max-w-7xl py-10 sm:px-6 lg:px-8">

        <div class="text-center mb-8">

            <a class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-green-200"
               href="https://api2app.org/media/uploads/1744486418_api2app.apk"
               target="_blank">
                <span class="w-[240px] inline-flex gap-3 items-center justify-center relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-transparent">
                    <span>
                        <i class="bi bi-android2 text-2xl"></i>
                    </span>
                    <span>
                        api2app Android (apk)
                    </span>
                </span>
            </a>

        </div>

        <div class="text-center mb-8">

            <a class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-green-200"
               href="https://api2app.org/media/uploads/1744494581_api2app-0.0.1.msi"
               target="_blank">
                <span class="w-[240px] inline-flex gap-3 items-center justify-center relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-transparent">
                    <span>
                        <i class="bi bi-windows text-2xl"></i>
                    </span>
                    <span>
                        api2app Windows (msi)
                    </span>
                </span>
            </a>

        </div>

        <div class="text-center pt-8">
            <i class="bi bi-github text-5xl"></i>
            <br>
            <span i18n>Source code</span>:
            <br>
            <a class="text-teal-600 underline transition hover:text-teal-600/75"
               href="https://github.com/andchir/api2app_python_webview"
               target="_blank">
                https://github.com/andchir/api2app_python_webview
            </a>
        </div>

    </div>
</main>
