<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">

        <div class="flex justify-between">

            <nav aria-label="Breadcrumb" class="flex">
                <ol class="flex overflow-hidden rounded-lg border border-gray-300 text-gray-600">
                    <li class="flex items-center">
                        <a class="flex h-10 items-center gap-1.5 bg-gray-200 px-4 transition hover:text-gray-900"
                           routerLink="/apis">
                            <i class="bi bi-house-door"></i>
                            <span class="ms-1.5 text-xs font-medium"> APIs </span>
                        </a>
                    </li>

                    <li class="relative flex items-center">
                        <span class="absolute inset-y-0 -start-px h-10 w-4 bg-gray-200 [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180"></span>
                        <span class="flex h-10 items-center bg-white pe-4 ps-8 text-xs font-medium transition hover:text-gray-900">
                            Create
                        </span>
                    </li>
                </ol>
            </nav>

            <div>

                <button type="button" class="border border-green-500 bg-green-500 text-white rounded-md px-6 py-2 transition duration-500 ease select-none hover:bg-green-600 focus:outline-none focus:shadow-outline"
                    (click)="saveData()">
                    <i class="bi bi-check"></i>
                    Save
                </button>

            </div>

        </div>

    </div>
</header>

<main>
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">

        <h2 class="text-xl font-bold mb-4">Create API</h2>

        <div>

            <div class="mb-5">
                <label class="block mb-2" for="fieldName">API name</label>
                <input type="text" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                       id="fieldName"
                       placeholder="API Name"
                       [(ngModel)]="data.name">
            </div>

            <div class="flex gap-3 mb-4">

                <div class="dropdown inline-block">
                    <button class="bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center">
                        <span class="mr-1 uppercase">{{ data.requestMethod }}</span>
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
                    </button>
                    <div class="dropdown-menu absolute hidden pt-1">
                        <ul class="text-gray-700 rounded border border-slate-300 shadow-md">
                            <li class="" *ngFor="let method of requestMethods; index as index">
                                <button type="button" class="block w-full bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                                        [ngClass]="{'rounded-b': index === requestMethods.length - 1, 'rounded-t': index === 0}"
                                        (click)="requestMethodUpdate(method)">
                                    {{ method }}
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="grow">
                    <input type="text" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                           placeholder="API URL"
                           [disabled]="loading"
                           [(ngModel)]="data.requestUrl">
                </div>

                <div>
                    <button type="button" class="border border-indigo-500 bg-indigo-500 text-white rounded-md px-4 py-2 transition duration-500 ease select-none hover:bg-indigo-600 focus:outline-none focus:shadow-outline w-40"
                            [disabled]="loading"
                            (click)="apiSendRequest()">
                        <svg aria-hidden="true" role="status" class="inline w-4 h-4 mr-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg" *ngIf="loading && submitted">
                            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                        </svg>
                        Test
                    </button>
                </div>

            </div>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-3">
                <div>
                    <h3 class="mb-2">Body</h3>

                    <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 mb-4">
                        <ul class="flex flex-wrap -mb-px">
                            <li class="mr-2">
                                <button type="button" class="inline-block p-3 border-b-2 border-transparent"
                                        [ngClass]="{'text-blue-600 border-blue-600': data.bodyDataSource === 'fields', 'border-transparent hover:text-gray-600 hover:border-gray-300': data.bodyDataSource !== 'fields'}"
                                        (click)="data.bodyDataSource = 'fields'">Fields</button>
                            </li>
                            <li class="mr-2">
                                <button type="button" class="inline-block p-3 border-b-2 hover:text-gray-600 hover:border-gray-300"
                                        [ngClass]="{'text-blue-600 border-blue-600': data.bodyDataSource === 'raw', 'border-transparent hover:text-gray-600 hover:border-gray-300': data.bodyDataSource !== 'raw'}"
                                        (click)="data.bodyDataSource = 'raw'">Raw</button>
                            </li>
                        </ul>
                    </div>

                    <div class="mb-6" *ngIf="data.bodyDataSource === 'fields'">

                        <div class="flex mb-4" *ngFor="let item of data.bodyFields; index as index"
                             [ngClass]="{'opacity-50': item.hidden}">
                            <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600 cursor-pointer"
                                  (click)="item.hidden = !item.hidden">
                                <i class="bi bi-eye-fill" *ngIf="!item.hidden"></i>
                                <i class="bi bi-eye-slash-fill" *ngIf="item.hidden"></i>
                            </span>
                            <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600 cursor-pointer"
                                  title="Delete field"
                                  (click)="deleteOption('bodyFields', index)">
                                <i class="bi bi-trash-fill"></i>
                            </span>
                            <input type="text" class="rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   placeholder="Field Name"
                                   [(ngModel)]="item.name"
                                   (ngModelChange)="onOptionsListChange('bodyFields', index)">
                            <input type="text" class="rounded-none rounded-r-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   placeholder="Value"
                                   [(ngModel)]="item.value"
                                   (ngModelChange)="onOptionsListChange('bodyFields', index)">
                        </div>

                    </div>

                    <div class="mb-6" *ngIf="data.bodyDataSource === 'raw'">
                        <textarea class="w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 text-cyan-600"
                                  rows="6"
                                  cols="40"
                                  placeholder="Request Body"
                                  [(ngModel)]="data.bodyJson"></textarea>
                    </div>

                    <hr class="mb-4">

                    <h3 class="mb-2">Headers</h3>

                    <div class="mb-6">

                        <div class="flex mb-4" *ngFor="let item of data.headers; index as index"
                            [ngClass]="{'opacity-50': item.hidden}">
                            <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600 cursor-pointer"
                                (click)="item.hidden = !item.hidden">
                                <i class="bi bi-eye-fill" *ngIf="!item.hidden"></i>
                                <i class="bi bi-eye-slash-fill" *ngIf="item.hidden"></i>
                            </span>
                            <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600 cursor-pointer"
                                 title="Delete header"
                                (click)="deleteOption('headers', index)">
                                <i class="bi bi-trash-fill"></i>
                            </span>
                            <input type="text" class="rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   placeholder="Header"
                                   [(ngModel)]="item.name"
                                   (ngModelChange)="onOptionsListChange('headers', index)">
                            <input type="text" class="rounded-none rounded-r-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   placeholder="Value"
                                   value="application/json"
                                   [(ngModel)]="item.value"
                                   (ngModelChange)="onOptionsListChange('headers', index)">
                        </div>

                    </div>

                    <div>

                        <label class="relative inline-flex items-center cursor-pointer" [ngClass]="{'mb-4': data.basicAuth}">
                            <input type="checkbox" value="" class="sr-only peer" [(ngModel)]="data.basicAuth">
                            <div class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-indigo-200 focus:ring-opacity-50 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                            <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Basic Authentication</span>
                        </label>

                        <div *ngIf="data.basicAuth">
                            <div class="grid grid-cols-1 lg:grid-cols-3 gap-3 mb-4">
                                <div>
                                    <label for="fieldBasicAuthLogin">Login:</label>
                                </div>
                                <div class="col-span-2">
                                    <input type="text" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="fieldBasicAuthLogin" placeholder="Login">
                                </div>
                            </div>
                            <div class="grid grid-cols-1 lg:grid-cols-3 gap-3">
                                <div>
                                    <label for="fieldBasicAuthPassword">Password:</label>
                                </div>
                                <div class="col-span-2">
                                    <input type="text" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="fieldBasicAuthPassword" placeholder="Password">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="flex flex-col">
                    <h3 class="mb-2">Preview</h3>

                    <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 mb-4">
                        <ul class="flex flex-wrap -mb-px">
                            <li class="mr-2">
                                <button type="button" class="inline-block p-3 border-b-2 border-transparent"
                                        [ngClass]="{'text-blue-600 border-blue-600': previewSate === 'data', 'border-transparent hover:text-gray-600 hover:border-gray-300': previewSate !== 'data'}"
                                        (click)="previewSate = 'data'">Data</button>
                            </li>
                            <li class="mr-2" *ngIf="data.responseHeaders.length > 0">
                                <button type="button" class="inline-block p-3 border-b-2 hover:text-gray-600 hover:border-gray-300"
                                        [ngClass]="{'text-blue-600 border-blue-600': previewSate === 'headers', 'border-transparent hover:text-gray-600 hover:border-gray-300': previewSate !== 'headers'}"
                                        (click)="previewSate = 'headers'">Headers</button>
                            </li>
                            <li class="mr-2 dropdown">
                                <button type="button" class="inline-block p-3 border-b-2 border-transparent border-transparent hover:text-gray-600 hover:border-gray-300">
                                    {{ responseContentType }}
                                    <svg class="inline-block fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
                                </button>
                                <div class="dropdown-menu absolute hidden pt-1">
                                    <ul class="text-gray-700 rounded border border-slate-300 shadow-md">
                                        <li class="" *ngFor="let cntType of responseContentTypes; index as index">
                                            <button type="button" class="block w-full bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                                                    [ngClass]="{'rounded-b': index === requestMethods.length - 1, 'rounded-t': index === 0}"
                                                    (click)="responseContentType = cntType">
                                                {{ cntType }}
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <textarea class="w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 grow"
                              rows="8"
                              cols="40"
                              placeholder="Response Data"
                              [ngClass]="{'text-cyan-600': !isResponseError, 'text-red-600 border-red-600': isResponseError}"
                              [(ngModel)]="data.responseJson"
                              *ngIf="previewSate == 'data'"></textarea>

                    <div *ngIf="previewSate == 'headers'">
                        <table class="w-full text-sm text-left bg-gray-50 text-gray-500 border">
                            <tbody>
                                <tr class="border-b" *ngFor="let item of data.responseHeaders">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                        {{ item.name }}
                                    </th>
                                    <td class="px-6 py-4">
                                        {{ item.value }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</main>
