<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">

        <div class="flex justify-between">

            <nav aria-label="Breadcrumb" class="flex">
                <ol class="flex overflow-hidden rounded-lg border border-gray-300 text-gray-600">
                    <li class="flex items-center">
                        <a class="flex h-10 items-center gap-1.5 bg-gray-200 px-4 transition hover:text-gray-900"
                           routerLink="/apis">
                            <i class="bi bi-house-door"></i>
                            <span class="ms-1.5 text-xs font-medium"> APIs </span>
                        </a>
                    </li>

                    <li class="relative flex items-center">
                        <span class="absolute inset-y-0 -start-px h-10 w-4 bg-gray-200 [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180"></span>
                        <span class="flex h-10 items-center bg-white pe-4 ps-8 text-xs font-medium transition hover:text-gray-900">
                            Create
                        </span>
                    </li>
                </ol>
            </nav>

            <div>

                <button type="button" class="border border-green-500 bg-green-500 text-white rounded-md px-6 py-2 transition duration-500 ease select-none hover:bg-green-600 focus:outline-none focus:shadow-outline"
                    (click)="saveData()">
                    <i class="bi bi-check"></i>
                    Save
                </button>

            </div>

        </div>

    </div>
</header>

<main>
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">

        <h2 class="text-xl font-bold mb-4">Create API</h2>

        <div>

            <div class="mb-5">
                <label class="block mb-2" for="fieldName">API name</label>
                <input type="text" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                       id="fieldName"
                       placeholder="API Name"
                       [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700': errors['name']}"
                       [(ngModel)]="data.name"
                       (ngModelChange)="deleteErrorMessages('name')">
                <div *ngIf="errors['name']">
                    <div class="mt-2 text-sm text-red-600" *ngFor="let errorMessage of errors['name']">{{ errorMessage }}</div>
                </div>
            </div>

            <app-api-item [apiItem]="data"></app-api-item>

        </div>

    </div>
</main>
