<div class="w-full max-w-[600px] mx-auto">
    <label for="{{ name }}-{{ parentIndex }}-{{ index }}" class="block mb-2 text-sm font-medium text-gray-900">
        {{ label }}
    </label>
    <ng-container [ngSwitch]="type">
        <ng-container *ngSwitchCase="'input-text'">
            <div class="relative" *ngIf="icon">
                <div class="absolute left-3 top-2">
                    <i class="bi" [ngClass]="icon"></i>
                </div>
            </div>
            <input type="text" id="{{ name }}-{{ parentIndex }}-{{ index }}" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                   [ngClass]="{
                   'text-blue-600': storeValue && !isChanged, 'text-gray-900': isChanged || !storeValue,
                   'pl-9': icon
                   }"
                   [placeholder]="placeholder || ''"
                   (keyup)="onKeyUp($event)"
                   (focus)="onFocus($event)"
                   [readonly]="readOnly" #inputControl>
        </ng-container>
        <ng-container *ngSwitchCase="'input-textarea'">
            <textarea id="{{ name }}-{{ parentIndex }}-{{ index }}" rows="4" class="block p-2.5 w-full text-sm bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                      [ngClass]="{'text-blue-600': storeValue && !isChanged, 'text-gray-900': isChanged || !storeValue}"
                      [placeholder]="placeholder || ''"
                      (keyup)="onKeyUp($event)"
                      (focus)="onFocus($event)"
                      [readonly]="readOnly" #inputControl></textarea>
        </ng-container>
    </ng-container>
    <div class="relative">
        <div class="absolute bottom-1.5 right-1.5" *ngIf="speechRecognitionEnabled || speechSynthesisEnabled || copyToClipboardEnabled">
            <button type="button" class="cursor-pointer text-xl ml-3"
                    (click)="copyToClipboard(inputControl.nativeElement)"
                    title="Copy to clipboard"
                    i18n-title
                    *ngIf="copyToClipboardEnabled">
                <i class="bi bi-copy"></i>
            </button>
            <button type="button" class="cursor-pointer text-xl ml-3"
                    (click)="speechSynthesisPlayToggle()"
                    title="Voice the text"
                    i18n-title
                    *ngIf="speechSynthesisEnabled">
                <i class="bi bi-volume-up-fill" [ngClass]="{'text-blue-700': speechSynthesisActive, 'text-gray-700': !speechSynthesisActive}"></i>
            </button>
            <button type="button" class="cursor-pointer text-xl ml-3"
                    (click)="microphoneEnableToggle()"
                    title="Voice typing"
                    i18n-title
                    *ngIf="speechRecognitionEnabled">
                <i class="bi bi-mic-fill text-red-700" *ngIf="microphoneActive"></i>
                <i class="bi bi-mic-mute-fill text-gray-700" *ngIf="!microphoneActive"></i>
            </button>
        </div>
    </div>
</div>
