<div [ngClass]="{'fixed left-0 top-0 w-full h-full z-50 bg-black': isFullScreenMode}">
    <div class="iframe-container relative w-full bg-gray-200"
         [ngClass]="{'border border-gray-300': border}"
         *ngIf="safeUrl || !hiddenByDefault">
        <div class="mx-auto" [ngStyle]="{'width': iframeWidth + '%'}">
            <div class="w-full flex items-stretch">
                <div class="iframe-wrapper w-full">
                    <iframe [attr.srcdoc]="htmlContent ? safeHtmlContent : null"
                            [attr.src]="!htmlContent ? safeUrl : null"
                            [ngStyle]="{'height': heightCurrent + 'px'}"
                            [ngClass]="{'pointer-events-none': isResizing || editorMode}"
                            class="w-full"
                            frameborder="0"
                            sandbox="allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox allow-modals allow-forms"
                            allow="accelerometer; autoplay; microphone; camera; clipboard-read; clipboard-write; display-capture; midi;"
                            allowfullscreen #iframeEl></iframe>
                </div>

                <div *ngIf="useResizer"
                     class="bg-gray-100 resizer-handle flex items-center justify-center cursor-col-resize select-none w-[15px] border-l border-l-gray-300"
                     [ngClass]="{'border-r border-r-gray-300': iframeWidth < 100}"
                     [class.active]="isResizing"
                     (mousedown)="onMouseDown($event)"
                     #resizerHandle>
                    <div class="resizer-line bg-gray-400 pointer-events-none w-[3px] h-[40px] rounded-full"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex gap-3 justify-center pt-3"
         [ngClass]="{'fixed right-3 bottom-3 z-50': isFullScreenMode}"
         *ngIf="useRefreshButton || useFullscreenButton">
        <button type="button"
                class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
                (click)="refreshContent()"
                *ngIf="useRefreshButton">
            <i class="bi bi-arrow-repeat mr-1"></i>
            <span i18n>Refresh</span>
        </button>
        <button type="button"
                class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100"
                (click)="fullScreenToggle()"
                *ngIf="useFullscreenButton">
            <i class="bi bi-arrows-fullscreen mr-1"></i>
            <span i18n>Full Screen</span>
        </button>
    </div>
</div>
