<div class="w-full max-w-[800px] mx-auto select-none group" #container>
    <div class="relative w-full overflow-hidden rounded-lg" #wrapper>
        <div class="image-container relative w-full h-[400px] overflow-hidden">
            <div class="image-before-container absolute left-0 top-0 w-full h-full overflow-hidden z-[1]">
                <img [src]="beforeImage" alt="Before" class="w-full h-full object-cover object-left-top">
            </div>
            <div class="absolute lef-0 top-0 w-1/2 h-full overflow-hidden z-[2]" #overlay>
                <img [src]="afterImage" alt="After" class="w-full h-full object-cover object-left-top">
            </div>
        </div>
        <div class="w-[4px] h-full bg-white absolute z-10 top-0 left-1/2 -translate-x-1/2 shadow-md cursor-ew-resize" #slider>
            <div class="w-[70px] flex justify-between absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-2xl pointer-events-none opacity-0 group-hover:opacity-100 transition-opacity">
                <i class="bi bi-chevron-left"></i>
                <i class="bi bi-chevron-right"></i>
            </div>
        </div>
    </div>
</div>
