<div [ngClass]="{'overflow-y-auto p-2': maxHeight}" [style.max-height]="maxHeightValue">
    <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3" *ngIf="data.length > 0">
        <div class="relative h-[140px] lg:h-[200px] border border-gray-300 rounded-lg bg-cover bg-top cursor-pointer ring-offset-2 ring-2 ring-white opacity-80 hover:opacity-100"
             [ngClass]="{'!ring-green-400 !opacity-100': value === item.name}"
             [style.background-image]="'url(' + item.imageUrl + ')'"
             *ngFor="let item of data"
             (contextmenu)="$event.preventDefault()"
             (click)="selectItem(item)">
            <div class="absolute right-3 top-3 w-8 h-8 leading-8 rounded-full bg-green-500 text-white text-center pointer-events-none"
                 *ngIf="value === item.name">
                <i class="bi bi-check-lg"></i>
            </div>
            <div class="absolute w-full flex justify-center left-0 bottom-3"
                 *ngIf="showTitle">
                <div class="max-w-[80%] rounded bg-black bg-opacity-50 text-white text-center text-sm px-2 py-1 pointer-events-none select-none"
                     [ngClass]="{'!bg-green-500': value === item.name}">
                    {{ item.name }}
                </div>
            </div>

        </div>
    </div>
</div>
<div class="px-4 py-2 bg-gray-100 rounded border border-slate-300 shadow-md text-center"
     *ngIf="data.length === 0 && editorMode">
    <i class="bi bi-image mr-2"></i>
    <span i18n>Image</span>
</div>
