<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">

        <div class="sm:flex sm:justify-between">
            <div class="mb-3 sm:mb-0 text-center sm:text-left">
                <h1 class="text-3xl font-bold tracking-tight text-gray-900" i18n>APIs</h1>
            </div>
            <div>

                <div class="rounded-md shadow-sm flex sm:inline-flex" role="group">
                    <a class="block grow text-center items-center px-4 py-2 text-sm font-medium text-gray-900 border border-gray-900 rounded-s-lg hover:bg-gray-900 hover:text-white focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white"
                        [routerLink]="['/apis', 'shared']"
                        [routerLinkActive]="'bg-gray-900 text-white'">
                        <i class="bi bi-share-fill mr-2"></i>
                        <span i18n="@@SharedHeader">Shared</span>
                    </a>
                    <a class="block grow text-center items-center px-4 py-2 text-sm font-medium text-gray-900 border border-gray-900 rounded-e-lg hover:bg-gray-900 hover:text-white focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white"
                       [routerLink]="['/apis', 'personal']"
                       [routerLinkActive]="'bg-gray-900 text-white'">
                        <i class="bi bi-person-circle mr-2"></i>
                        <span i18n>My APIs</span>
                    </a>
                </div>

            </div>
        </div>

    </div>
</header>

<main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">

        <router-outlet></router-outlet>

    </div>
</main>
