<nav aria-label="Page navigation example">
    <ul class="flex items-center -space-x-px h-10 text-base">
        <li>
            <button type="button"
                    class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 disabled:pointer-events-none disabled:opacity-50"
                    [disabled]="isFirstPage() || empty()"
                    (click)="changePageToPrev($event)">
                <span class="sr-only">Previous</span>
                <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                </svg>
            </button>
        </li>
        <li *ngFor="let pageLink of pageLinks">
            <button type="button"
                    class="flex items-center justify-center px-4 h-10 leading-tight border border-gray-300"
                    [ngClass]="{
                    'text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700': pageLink - 1 != getPage(),
                    'text-blue-600 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 pointer-events-none': pageLink - 1 == getPage()
                    }"
                    (click)="onPageLinkClick($event, pageLink - 1)">
                {{ pageLink }}
            </button>
        </li>
        <li>
            <button type="button"
                    class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 disabled:pointer-events-none disabled:opacity-50"
                    [disabled]="isLastPage() || empty()"
                    (click)="changePageToNext($event)">
                <span class="sr-only">Next</span>
                <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
            </button>
        </li>
    </ul>
</nav>
