<div class="relative p-2 bg-gray-100 rounded-xl">
    <div class="p-2 rounded-lg border-2 border-dotted border-gray-300">
        <app-percent [percentCurrent]="value()"></app-percent>

        @if (!isTerminal()) {
            <div class="pt-2 text-gray-500 text-center text-sm">
                @if (queueNumber()) {
                    <div>
                        <span i18n>Your number in the queue:</span>&nbsp;<b>{{ queueNumber() }}</b>.
                    </div>
                }
                @if (value() === 99) {
                    <div i18n="@@ProgressAlmostReady">Almost ready...</div>
                } @else {
                    <div i18n>Please wait...</div>
                }
            </div>
        }

        @if (status() === statusCompleted()) {
            <div class="pt-2 text-green-500 text-center text-sm">
                <span i18n>Done</span>!
            </div>
        }
        @if (status() === statusError()) {
            <div class="pt-2 text-red-500 text-center text-sm">
                <span i18n>Error</span>
            </div>
        }
        @if (status() === 'canceled') {
            <div class="pt-2 text-red-500 text-center text-sm">
                <span i18n>Canceled</span>
            </div>
        }
    </div>
    @if (status() === 'processing') {
        <button type="button" class="absolute top-5 right-5 text-xs text-gray-700 px-2 py-1 border border-gray-300 rounded bg-gray-200 hover:bg-gray-300"
                (click)="cancel()"
                i18n>Cancel</button>
    }
</div>
