<div class="flex items-center p-4 text-red-800 border-t-4 border-red-300 bg-red-50 z-40" role="alert"
     [ngClass]="{'fixed right-0 bottom-0 md:right-3 md:bottom-3': position === 'fixed'}"
     *ngIf="message && type == 'error'">
    <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
    <div class="mx-3 text-sm font-medium" [innerHTML]="message"></div>
    <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8"
            aria-label="Close"
            (click)="clearMessage()" *ngIf="closable">
        <i class="bi bi-x-lg"></i>
    </button>
</div>

<div class="flex items-center p-4 text-green-800 border-t-4 border-green-300 bg-green-50 z-40" role="alert"
     [ngClass]="{'fixed right-0 bottom-0 md:right-3 md:bottom-3': position === 'fixed'}"
     *ngIf="message && type == 'success'">
    <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
    <div class="mx-3 text-sm font-medium" [innerHTML]="message"></div>
    <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8"
            aria-label="Close"
            (click)="clearMessage()" *ngIf="closable">
        <i class="bi bi-x-lg"></i>
    </button>
</div>
