<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">

        <div class="flex justify-between">

            <nav aria-label="Breadcrumb" class="flex">
                <ol class="flex overflow-hidden rounded-lg border border-gray-300 text-gray-600">
                    <li class="flex items-center">
                        <a class="flex h-10 items-center gap-1.5 bg-gray-200 px-4 transition hover:text-gray-900"
                            [routerLink]="['/apps', 'personal']">
                            <i class="bi bi-house-door"></i>
                            <span class="ms-1.5 text-xs font-medium"> Applications </span>
                        </a>
                    </li>

                    <li class="relative flex items-center">
                        <span class="absolute inset-y-0 -start-px h-10 w-4 bg-gray-200 [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180"></span>
                        <span class="flex h-10 items-center bg-white pe-4 ps-8 text-xs font-medium transition hover:text-gray-900">
                            Create
                        </span>
                    </li>
                </ol>
            </nav>

            <div>

                <button type="button" class="border border-green-500 bg-green-500 text-white rounded-md px-6 py-2 transition duration-500 ease select-none hover:bg-green-600 focus:outline-none focus:shadow-outline"
                    [disabled]="submitted"
                    (click)="saveData()">
                    <svg aria-hidden="true" class="inline w-4 h-4 mr-2 text-gray-200 animate-spin fill-gray-600 " viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg" *ngIf="loading && submitted">
                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                    </svg>
                    <i class="bi bi-check"></i>
                    Save
                </button>

            </div>

        </div>

    </div>
</header>

<main>
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">

        <h2 class="text-xl font-bold mb-4">
            <span *ngIf="data?.id">Edit Application</span>
            <span *ngIf="!data?.id">Create Application</span>
        </h2>

        <div class="text-center">
            <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" type="button"
                    data-drawer-target="drawer-element-options"
                    data-drawer-show="drawer-element-options"
                    aria-controls="drawer-element-options">
                Show drawer
            </button>
        </div>

        <div>

            <div class="mb-5">
                <label class="block mb-2" for="fieldName">Application name</label>
                <input type="text" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                       id="fieldName"
                       placeholder="Application Name"
                       [ngClass]="{'bg-red-50 border border-red-500 text-red-900 placeholder-red-700': errors['name']}"
                       [(ngModel)]="data.name"
                       (ngModelChange)="deleteErrorMessages('name')">
                <div *ngIf="errors['name']">
                    <div class="mt-2 text-sm text-red-600" *ngFor="let errorMessage of errors['name']">{{ errorMessage }}</div>
                </div>
            </div>

            <div class="mb-5">
                <div class="inline-flex rounded-md shadow-sm" role="group">
                    <button type="button" class="px-4 py-2 text-sm font-medium border rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:text-blue-700"
                        [ngClass]="{'bg-gray-200 text-blue-700 border-blue-700 z-5': data.gridColumns === 1, 'bg-white text-gray-900 border-gray-200': data.gridColumns !== 1}"
                        (click)="setValue('gridColumns', 1)">
                        1 Column
                    </button>
                    <button type="button" class="px-4 py-2 text-sm font-medium hover:bg-gray-100 hover:text-blue-700 focus:text-blue-700"
                        [ngClass]="{'bg-gray-200 text-blue-700 border-blue-700 border z-5': data.gridColumns === 2, 'border-t border-b bg-white text-gray-900 border-gray-200': data.gridColumns !== 2}"
                        (click)="setValue('gridColumns', 2)">
                        2 Columns
                    </button>
                    <button type="button" class="px-4 py-2 text-sm font-medium border rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:text-blue-700"
                        [ngClass]="{'bg-gray-200 text-blue-700 border-blue-700 z-5': data.gridColumns === 3, 'bg-white text-gray-900 border-gray-200': data.gridColumns !== 3}"
                        (click)="setValue('gridColumns', 3)">
                        3 Columns
                    </button>
                </div>
            </div>

            <div class="grid grid-cols-1 gap-4"
                [ngClass]="{'md:grid-cols-2 lg:grid-cols-3': data.gridColumns === 3, 'md:grid-cols-2': data.gridColumns === 2}">

                <div class="block" *ngFor="let block of blocks; index as index">

                    <div class="relative bg-white p-3 rounded rounded-[1rem] border border-gray-200 shadow" *ngIf="block.elements.length > 0">
                        <ng-container *ngFor="let element of block.elements">
                            <app-block-element [item]="element"
                                               (itemChange)="onElementUpdate($event)"></app-block-element>
                        </ng-container>
                        <button type="button" class="block w-full p-1 bg-white border border-gray-200 rounded-lg shadow-inner hover:bg-gray-200 text-gray-400 hover:text-gray-500 cursor-pointer text-center"
                                title="Add Element"
                                (click)="blockAddElement(block)"
                                *ngIf="block.elements.length > 0">
                            <i class="bi bi-plus-circle-dotted text-3xl"></i>
                        </button>
                    </div>

                    <button type="button" class="block w-full p-6 bg-white border border-gray-200 rounded-lg shadow-inner hover:bg-gray-200 text-gray-400 hover:text-gray-500 cursor-pointer text-center"
                            title="Add Block"
                            (click)="blockAddElement(block)" *ngIf="block.elements.length === 0">
                        <i class="bi bi-plus-circle-dotted text-5xl"></i>
                    </button>

                </div>

            </div>

        </div>

    </div>
</main>

<!-- drawer component -->
<div id="drawer-element-options" class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-80 dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-label">
    <h5 id="drawer-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400">
        Element Options
    </h5>
    <button type="button" data-drawer-hide="drawer-element-options" aria-controls="drawer-element-options" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white" >
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
        <span class="sr-only">Close menu</span>
    </button>

    <p class="mb-6 text-sm text-gray-500 dark:text-gray-400">
        Supercharge your hiring by taking advantage of our <a href="#" class="text-blue-600 underline dark:text-blue-500 hover:no-underline">limited-time sale</a> for Flowbite Docs + Job Board. Unlimited access to over 190K top-ranked candidates and the #1 design job board.
    </p>

    <div class="grid grid-cols-2 gap-4">
        <button type="button" class="px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Save
        </button>
        <button type="button" data-drawer-hide="drawer-element-options" aria-controls="drawer-element-options" class="px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Cancel
        </button>
    </div>
</div>

<app-alert [message]="message" [type]="messageType"></app-alert>
