<div class="border border-2 border-dashed p-2 text-center border-gray-300 rounded-md"
     [ngClass]="{'pointer-events-none': loadingUpload}"
     (drop)="dropHandler($event)"
     (dragover)="dragOverHandler($event)"
     (dragenter)="dragEnter($event)"
     (dragleave)="dragLeave($event)">
    <input type="file" style="display:none;"
           [accept]="fileInputAccept"
           [multiple]="multiple"
           (change)="onFileChange($event)">
    <button type="button" class="px-5 py-2 mb-0 text-gray-500"
            [disabled]="loadingUpload"
            (click)="buttonHandler($event)">
        <i class="bi bi-file-earmark mr-2" *ngIf="files.length === 0"></i>
        <i class="bi bi-file-earmark-check mr-2" *ngIf="files.length > 0"></i>
        <span i18n>Upload File</span>
    </button>
</div>
<div class="pt-2" *ngIf="files.length > 0">
    <span class="inline-block px-1 text-gray-500 text-xs rounded ring-gray-400 ring-offset-2 hover:ring-1 mr-3"
          *ngFor="let file of files; let index=index">
        <span class="inline-block mr-2">{{ file.name }}</span>
        <button type="button" class="p-0 text-red-500 hover:text-red-700"
                title="Remove File"
                (click)="deleteFile(index)">
            <i class="bi bi-x-square-fill"></i>
        </button>
    </span>
</div>
