<div class="border-2 border-dashed p-2 text-center border-gray-400 rounded-md group"
     [ngClass]="{'pointer-events-none': loadingUpload}"
     (drop)="dropHandler($event)"
     (dragover)="dragOverHandler($event)"
     (dragenter)="dragEnter($event)"
     (dragleave)="dragLeave($event)">
    <input type="file" style="display:none;"
           [accept]="fileInputAccept"
           [multiple]="multiple"
           (change)="onFileChange($event)" #fileInput>
    <button type="button" class="px-5 py-2 mb-0 text-gray-500"
            [disabled]="loadingUpload"
            (dragenter)="dragEnter($event)"
            (dragleave)="dragLeave($event)"
            (click)="buttonHandler($event)">
        <i class="bi bi-file-earmark mr-2 pointer-events-none" *ngIf="files.length === 0"></i>
        <i class="bi bi-file-earmark-check text-green-500 mr-2 pointer-events-none" *ngIf="files.length > 0"></i>
        <span class="pointer-events-none">{{ placeholder }}</span>
    </button>
</div>
<div class="flex gap-3 flex-wrap items-start pt-2" *ngIf="files.length > 0 && usePreview">
    <div class="p-1 inline-flex flex-col px-1 text-gray-500 text-xs rounded ring-gray-400 hover:ring-gray-500 ring-1 max-w-[130px] cursor-default"
         *ngFor="let file of files; let index=index">
        <div class="flex gap-1 justify-between">
            <div class="max-w-full overflow-hidden text-ellipsis whitespace-nowrap">
                {{ file.name }}
            </div>
            <button type="button" class="p-0 text-lg leading-3 align-middle text-red-500 hover:text-red-700"
                    title="Remove File"
                    i18n-title
                    (click)="deleteFile(index)">
                <i class="bi bi-x-square-fill"></i>
            </button>
        </div>
        <img class="max-w-full mt-1" [src]="imageBlobsUrls[index]"
             (load)="onImageLoaded($event)"
             *ngIf="imageBlobsUrls[index]">
    </div>
</div>
