<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">Dashboard</h1>
    </div>
</header>

<main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">

        <h2 class="text-3xl tracking-tight text-gray-900 mb-4">
            Latest News
        </h2>

        <div class="mb-4">
            <div class="mb-2">
                <div class="flex items-center">
                    <div class="me-2 text-gray-400 text-2xl">
                        2023
                    </div>
                    <div class="me-2">
                        <div class="w-10 h-10 leading-10 rounded-full bg-gray-700 text-center text-xl text-gray-400">8</div>
                    </div>
                    <div class="me-2 text-gray-700">
                        декабря
                    </div>
                </div>
            </div>
            <div>
                Вышла альфа версия приложения на домене "api2app.ru". Пока нет регистрации для пользователей. Тестируем минимальный функционал.
            </div>
        </div>

    </div>
</main>
