/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.first-letter-uppercase:first-letter { text-transform: uppercase; }
.no-pointer-events { pointer-events: none; }
.dropdown {
    position: relative;
}
.hover-parent .hover-element,
.dropdown .dropdown-menu {
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms;
}
.hover-parent:hover .hover-element,
.dropdown:hover .dropdown-menu {
    opacity: 1;
    pointer-events: all;
}

/* ng-select.ng-select-custom */
.ng-select.ng-select-custom {
    min-height: 0;
    border-radius: .5rem;
}
.ng-select.ng-select-custom .ng-select-container  {
    min-height: 42px;
    border-radius: .5rem;
}

/* pagination */
.app-pagination .ngx-pagination { display: flex; justify-content: center; }
.app-pagination .ngx-pagination li,
.app-pagination .ngx-pagination li > a {
    border-radius: 6px;
}

/* loading-bg-image */
.loading-bg-image { background-image: url('assets/img/loading.gif'); background-position: 50% 50%; background-repeat: no-repeat; }
.error-bg-image { background-image: url('assets/img/loading-red.gif'); background-position: 50% 50%; background-repeat: no-repeat; }

/* input range */
input[type=range] { background-image: linear-gradient(#3f83f8, #3f83f8); background-repeat: no-repeat; background-size: 0% 100%; }

/* text-content */
.text-content p:not(:last-child) { display: block; margin-bottom: 15px; }
.text-content ol { padding: 0 0 0 1.5rem; list-style: auto; }
.text-content ul { padding: 0 0 0 1.5rem; list-style: disc; }
.text-content ol:not(:last-child),
.text-content ul:not(:last-child) { margin-bottom: 15px;  }
.text-content ol > li,
.text-content ul > li { margin-bottom: 15px; }
.text-content h1, .text-content h2, .text-content h3, .text-content h4, .text-content h5, .text-content bold { font-weight: bold; }
.text-content h1 { font-size: 24px; }
.text-content h2 { font-size: 22px; }
.text-content h3 { font-size: 20px; }
.text-content h4 { font-size: 18px; }
.text-content h5 { font-size: 17px; }

/* markdown */
markdown table,
markdown table th,
markdown table td { border: 1px solid #ddd; }
markdown table th,
markdown table td { padding: 3px 8px; }
markdown table thead td,
markdown table thead th { background-color: #eee; }

/* app fonts */
@font-face {
    font-family: 'Roboto Condensed';
    src: url('assets/fonts/Roboto_Condensed/static/RobotoCondensed-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.app-font-header {
    font-family: 'Roboto Condensed', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* ngx-cropper */
.ngx-ic-source-image { display: inline-block; }

/* ng2-dragula */
/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
    padding: 2px;
    height: auto !important;
}
/* high-performance display:none; helper */
.gu-hide {
    left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
    /* opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20); */
}
