/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
    position: relative;
}
.hover-parent .hover-element,
.dropdown .dropdown-menu {
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms;
}
.hover-parent:hover .hover-element,
.dropdown:hover .dropdown-menu {
    opacity: 1;
    pointer-events: all;
}
