<main class="bg-white">
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">

        <div class="md:grid md:grid-cols-3 gap-4">
            <div class="md:col-span-2">

                <!-- main page content -->
                <ng-container *ngTemplateOutlet="getTemplate()"></ng-container>
                <!-- /main page content -->

            </div>
            <div>

                <!-- news -->
                <h2 class="text-3xl tracking-tight text-gray-900 mb-4 app-font-header" i18n>News</h2>

                <ng-container *ngIf="locale === 'ru'">
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            07.03.2026
                        </div>
                        <div>
                            Мы добавили <b>режим разработки приложения с помощью ИИ</b>. Просто выберите API и опишите приложение текстом, которое хотите получить. Поддерживается также редактирование приложения.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            04.05.2025
                        </div>
                        <div>
                            Теперь с помощью <b>api2app</b> можно создавать не только веб-приложения и мини-приложения для ВК, но и <b>чат-ботов для Телеграм</b>.
                            <br>
                            Просто введите токен бота в настройках приложения и ваш бот начнет использовать API приложения.
                            <br>
                            <a class="text-teal-600 underline transition hover:text-teal-600/75" href="/ru/docs" target="_blank" rel="nofollow">Документация</a>
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            03.08.2024
                        </div>
                        <div>
                            Теперь приложения <b>api2app</b> можно использовать для создания <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://dev.vk.com/ru/mini-apps/overview" target="_blank" rel="nofollow">ВК-приложений</a>
                            и <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://core.telegram.org/bots/webapps" target="_blank" rel="nofollow">мини-приложений Telegram-ботов</a>.
                            <br>
                            Просто используйте <b>URL для встраивания</b> Вашего приложения.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            04.04.2024
                        </div>
                        <div>
                            Проект <b>api2app</b> победил в <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://opensource.yandex/grants/" target="_blank" rel="nofollow">Программе грантов Yandex Open Source</a>!
                            <br>
                            Наш проект получил грант на использование сервисов от <b>Яндекс Cloud</b>, что позволит добавить новые интересные функции. Следите за новостями.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            25.01.2024
                        </div>
                        <div>
                            Репозиторий с исходным кодом фронтенд-части на GitHub теперь публичный:
                            <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://github.com/andchir/api2app-frontend" target="_blank">github.com/andchir/api2app-frontend</a> и с открытой лицензией MIT.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            25.12.2023
                        </div>
                        <div>
                            Включена регистрация пользователей. Добавлена возможность выбора языка, пока доступны только английский и русский.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            08.12.2023
                        </div>
                        <div>
                            Вышла альфа версия приложения на домене "api2app.ru". Пока нет регистрации для пользователей. Тестируем минимальный функционал.
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="locale === 'en'">
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            03/07/2026
                        </div>
                        <div>
                            We have added <b>AI-powered app development mode</b>. Simply select an API and describe the application you want in text form. App editing is also supported.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            05/04/2025
                        </div>
                        <div>
                            Now with <b>api2app</b> you can create not only web applications and VK mini-apps, but also <b>Telegram chat bots</b>.
                            <br>
                            Simply enter the bot token in the application settings and your bot will start using the application API.
                            <br>
                            <a class="text-teal-600 underline transition hover:text-teal-600/75" href="/en/docs" target="_blank" rel="nofollow">Documentation</a>
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            08/03/2024
                        </div>
                        <div>
                            Now Api2App applications can be used to create <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://dev.vk.com/ru/mini-apps/overview" target="_blank" rel="nofollow">VK applications</a>
                            and <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://core.telegram.org/bots/webapps" target="_blank" rel="nofollow">Telegram bot mini-apps</a>.
                            <br>
                            Just use the <b>URL to embed</b> your application.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            04/04/2024
                        </div>
                        <div>
                            The <b>Api2App</b> project won the <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://opensource.yandex/grants/" target="_blank" rel="nofollow">Yandex Open Source Grant Program</a>!
                            <br>
                            Our project received a grant for the use of services from <b>Yandex Cloud</b>, which will allow us to add new interesting functions. Follow the news.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            01/25/2024
                        </div>
                        <div>
                            The repository with the source code of the front-end part on GitHub is now public:
                            <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://github.com/andchir/api2app-frontend" target="_blank">github.com/andchir/api2app-frontend</a> and is open source MIT licensed.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            12/25/2023
                        </div>
                        <div>
                            User registration is enabled. Added the ability to select a language; currently only English and Russian are available.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            12/08/2023
                        </div>
                        <div>
                            The alpha version of the application has been released on the "api2app.ru" domain. There is no registration for users yet. Testing minimal functionality.
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="locale === 'fr'">
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            07/03/2026
                        </div>
                        <div>
                            Nous avons ajouté le <b>mode de développement d'applications assisté par IA</b>. Sélectionnez simplement une API et décrivez l'application que vous souhaitez obtenir en format texte. L'édition d'applications est également prise en charge.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            04/05/2025
                        </div>
                        <div>
                            Désormais, avec <b>api2app</b>, vous pouvez créer non seulement des applications web et des mini-applications VK, mais aussi des <b>chatbots Telegram</b>.
                            <br>
                            Entrez simplement le token du bot dans les paramètres de l'application et votre bot commencera à utiliser l'API de l'application.
                            <br>
                            <a class="text-teal-600 underline transition hover:text-teal-600/75" href="/fr/docs" target="_blank" rel="nofollow">Documentation</a>
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            03/08/2024
                        </div>
                        <div>
                            Désormais, les applications Api2App peuvent être utilisées pour créer des <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://dev.vk.com/ru/mini-apps/overview" target="_blank" rel="nofollow">applications VK</a>
                            et des <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://core.telegram.org/bots/webapps" target="_blank" rel="nofollow">mini-applications de bot Telegram</a>.
                            <br>
                            Utilisez simplement <b>l'URL pour intégrer</b> votre application.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            04/04/2024
                        </div>
                        <div>
                            Le projet <b>api2app</b> a remporté le <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://opensource.yandex/grants/" target="_blank" rel="nofollow">Programme de subventions Yandex Open Source</a> !
                            <br>
                            Notre projet a reçu une subvention pour l'utilisation des services de <b>Yandex Cloud</b>, ce qui nous permettra d'ajouter de nouvelles fonctionnalités intéressantes. Suivez l'actualité.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            25/01/2024
                        </div>
                        <div>
                            Le dépôt avec le code source de la partie frontend sur GitHub est désormais public :
                            <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://github.com/andchir/api2app-frontend" target="_blank">github.com/andchir/api2app-frontend</a> et sous licence MIT ouverte.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            25/12/2023
                        </div>
                        <div>
                            L'enregistrement des utilisateurs est activé. Ajout de la possibilité de sélectionner une langue ; actuellement seuls l'anglais et le russe sont disponibles.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            08/12/2023
                        </div>
                        <div>
                            La version alpha de l'application a été publiée sur le domaine "api2app.ru". Il n'y a pas encore d'enregistrement pour les utilisateurs. Test des fonctionnalités minimales.
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="locale === 'de'">
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            07.03.2026
                        </div>
                        <div>
                            Wir haben den <b>KI-gestützten App-Entwicklungsmodus</b> hinzugefügt. Wählen Sie einfach eine API aus und beschreiben Sie die gewünschte App in Textform. Auch das Bearbeiten von Apps wird unterstützt.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            04.05.2025
                        </div>
                        <div>
                            Jetzt können Sie mit <b>api2app</b> nicht nur Webanwendungen und VK-Mini-Apps erstellen, sondern auch <b>Telegram-Chatbots</b>.
                            <br>
                            Geben Sie einfach den Bot-Token in den Anwendungseinstellungen ein und Ihr Bot beginnt, die Anwendungs-API zu nutzen.
                            <br>
                            <a class="text-teal-600 underline transition hover:text-teal-600/75" href="/de/docs" target="_blank" rel="nofollow">Dokumentation</a>
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            03.08.2024
                        </div>
                        <div>
                            Jetzt können Api2App-Anwendungen zum Erstellen von <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://dev.vk.com/ru/mini-apps/overview" target="_blank" rel="nofollow">VK-Anwendungen</a>
                            und <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://core.telegram.org/bots/webapps" target="_blank" rel="nofollow">Telegram-Bot-Mini-Apps</a> verwendet werden.
                            <br>
                            Verwenden Sie einfach die <b>URL zum Einbetten</b> Ihrer Anwendung.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            04.04.2024
                        </div>
                        <div>
                            Das Projekt <b>api2app</b> hat das <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://opensource.yandex/grants/" target="_blank" rel="nofollow">Yandex Open Source-Stipendienprogramm</a> gewonnen!
                            <br>
                            Unser Projekt erhielt ein Stipendium für die Nutzung von Diensten der <b>Yandex Cloud</b>, was es uns ermöglichen wird, neue interessante Funktionen hinzuzufügen. Bleiben Sie auf dem Laufenden.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            25.01.2024
                        </div>
                        <div>
                            Das Repository mit dem Quellcode des Frontends auf GitHub ist jetzt öffentlich:
                            <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://github.com/andchir/api2app-frontend" target="_blank">github.com/andchir/api2app-frontend</a> und unter der offenen MIT-Lizenz.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            25.12.2023
                        </div>
                        <div>
                            Die Benutzerregistrierung ist aktiviert. Sprachauswahl hinzugefügt, derzeit sind nur Englisch und Russisch verfügbar.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            08.12.2023
                        </div>
                        <div>
                            Die Alpha-Version der Anwendung wurde auf der Domain "api2app.ru" veröffentlicht. Es gibt noch keine Benutzerregistrierung. Minimale Funktionalität wird getestet.
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="locale === 'es'">
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            07/03/2026
                        </div>
                        <div>
                            Hemos añadido el <b>modo de desarrollo de aplicaciones con IA</b>. Simplemente seleccione una API y describa la aplicación que desea obtener en formato de texto. También se admite la edición de aplicaciones.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            04/05/2025
                        </div>
                        <div>
                            Ahora con <b>api2app</b> puedes crear no solo aplicaciones web y mini-aplicaciones para VK, sino también <b>chatbots para Telegram</b>.
                            <br>
                            Simplemente ingresa el token del bot en la configuración de la aplicación y tu bot comenzará a usar la API de la aplicación.
                            <br>
                            <a class="text-teal-600 underline transition hover:text-teal-600/75" href="/es/docs" target="_blank" rel="nofollow">Documentación</a>
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            03/08/2024
                        </div>
                        <div>
                            Ahora puedes usar las aplicaciones Api2App para crear <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://dev.vk.com/ru/mini-apps/overview" target="_blank" rel="nofollow">aplicaciones VK</a>
                            y miniaplicaciones de bots de <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://core.telegram.org/bots/webapps" target="_blank" rel="nofollow">Telegram</a>.
                            <br>
                            Solo usa la <b>URL para integrar</b> tu aplicación.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            04/04/2024
                        </div>
                        <div>
                            ¡El proyecto <b>api2app</b> ganó el <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://opensource.yandex/grants/" target="_blank" rel="nofollow">Programa de Becas Yandex Open Source</a>!
                            <br>
                            Nuestro proyecto recibió una beca para usar servicios de <b>Yandex Cloud</b>, lo que nos permitirá añadir nuevas funciones interesantes. Mantente atento a las novedades.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            25/01/2024
                        </div>
                        <div>
                            El repositorio con el código fuente del frontend en GitHub ahora es público:
                            <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://github.com/andchir/api2app-frontend" target="_blank">github.com/andchir/api2app-frontend</a> y con licencia MIT abierta.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            25/12/2023
                        </div>
                        <div>
                            Registro de usuarios habilitado. Se añadió la opción de seleccionar idioma; por ahora solo están disponibles inglés y ruso.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            08/12/2023
                        </div>
                        <div>
                            Se lanzó la versión alfa de la aplicación en el dominio "api2app.ru". Todavía no hay registro de usuarios. Probando funcionalidad mínima.
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="locale === 'uk'">
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            07.03.2026
                        </div>
                        <div>
                            Ми додали <b>режим розробки додатків за допомогою ШІ</b>. Просто виберіть API та опишіть текстом додаток, який хочете отримати. Також підтримується редагування додатку.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            04.05.2025
                        </div>
                        <div>
                            Тепер за допомогою <b>api2app</b> можна створювати не лише веб-додатки та міні-додатки для ВК, але й <b>чат-ботів для Telegram</b>.
                            <br>
                            Просто введіть токен бота в налаштуваннях додатку і ваш бот почне використовувати API додатку.
                            <br>
                            <a class="text-teal-600 underline transition hover:text-teal-600/75" href="/uk/docs" target="_blank" rel="nofollow">Документація</a>
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            03.08.2024
                        </div>
                        <div>
                            Тепер застосунки Api2App можна використовувати для створення <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://dev.vk.com/ru/mini-apps/overview" target="_blank" rel="nofollow">застосунків VK</a>
                            та міні-застосунків для ботів <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://core.telegram.org/bots/webapps" target="_blank" rel="nofollow">Telegram</a>.
                            <br>
                            Просто використовуйте <b>URL-адресу для вбудовування</b> вашого застосунку.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            04.04.2024
                        </div>
                        <div>
                            Проєкт <b>api2app</b> переміг у <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://opensource.yandex/grants/" target="_blank" rel="nofollow">Програмі грантів Yandex Open Source</a>!
                            <br>
                            Наш проєкт отримав грант на використання сервісів від <b>Yandex Cloud</b>, що дозволить додати нові цікаві функції. Слідкуйте за новинами.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            25.01.2024
                        </div>
                        <div>
                            Репозиторій з вихідним кодом фронтенд-частини на GitHub тепер публічний:
                            <a class="text-teal-600 underline transition hover:text-teal-600/75" href="https://github.com/andchir/api2app-frontend" target="_blank">github.com/andchir/api2app-frontend</a> і з відкритою ліцензією MIT.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            25.12.2023
                        </div>
                        <div>
                            Увімкнено реєстрацію користувачів. Додано можливість вибору мови, поки доступні лише англійська та російська.
                        </div>
                    </div>
                    <div class="mb-4 text-sm">
                        <div class="mb-2 text-gray-400">
                            08.12.2023
                        </div>
                        <div>
                            Вийшла альфа-версія додатку на домені "api2app.ru". Поки немає реєстрації для користувачів. Тестуємо мінімальний функціонал.
                        </div>
                    </div>
                </ng-container>
                <!-- /news -->

            </div>
        </div>

    </div>
</main>

<ng-template #enTemplate>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/004.png" alt="api2app">
        </div>
        <div class="text-center lg:text-left px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Create apps and earn money</h4>
            <div>
                You can create an app and accept payments for its use.
            </div>
        </div>
    </div>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="relative">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/001.png" alt="api2app">
        </div>
        <div class="order-last lg:order-first text-center lg:text-right px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Test the API</h4>
            <div>
                Here you can test your APIs and share them with other community members.
                <br>
                Don't worry about private data, it can only be used on the server side.
            </div>
        </div>
    </div>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/002.png" alt="api2app">
        </div>
        <div class="text-center lg:text-left px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Choose from a variety of UI elements</h4>
            <div>
                When creating applications, you can use a large selection of interface elements.
            </div>
        </div>
    </div>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/003.png" alt="api2app">
        </div>
        <div class="order-last lg:order-first text-center lg:text-right px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Create modern applications</h4>
            <div>
                Create applications with a pleasant and modern interface in just a few minutes.
                <br>
                Use your privacy settings.
            </div>
        </div>
    </div>
</ng-template>

<ng-template #ruTemplate>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/004.png" alt="api2app">
        </div>
        <div class="text-center lg:text-left px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Создавайте приложения и зарабатывайте</h4>
            <div>
                Вы можете создать приложение и принимать платежи за его использование.
            </div>
        </div>
    </div>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="relative">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/001.png" alt="api2app">
        </div>
        <div class="order-last lg:order-first text-center lg:text-right px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Тестируйте API</h4>
            <div>
                Здесь Вы можете тестировать свои API и делиться ими с другими членами сообщества.
                <br>
                Не беспокойтесь о приватных данных, они могут быть использованы только на стороне сервера.
            </div>
        </div>
    </div>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/002.png" alt="api2app">
        </div>
        <div class="text-center lg:text-left px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Выбирайте из множества элементов</h4>
            <div>
                При создании приложений Вы можете использовать большой выбор элементов интерфейса.
            </div>
        </div>
    </div>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/003.png" alt="api2app">
        </div>
        <div class="order-last lg:order-first text-center lg:text-right px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Создавайте современные приложения</h4>
            <div>
                Создавайте приложения с приятным и современнным интерфейсом всего за несколько минут.
                Используйте настройки приватности.
            </div>
        </div>
    </div>
</ng-template>

<ng-template #frTemplate>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/004.png" alt="api2app">
        </div>
        <div class="text-center lg:text-left px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Créez des applications et gagnez de l'argent</h4>
            <div>
                Vous pouvez créer une application et accepter des paiements pour son utilisation.
            </div>
        </div>
    </div>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="relative">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/001.png" alt="api2app">
        </div>
        <div class="order-last lg:order-first text-center lg:text-right px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Tester l'API</h4>
            <div>
                Ici, vous pouvez tester vos API et les partager avec d'autres membres de la communauté.
                <br>
                Ne vous inquiétez pas des données privées, elles ne peuvent être utilisées que côté serveur.
            </div>
        </div>
    </div>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/002.png" alt="api2app">
        </div>
        <div class="text-center lg:text-left px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Choisissez parmi une variété d'éléments d'interface utilisateur</h4>
            <div>
                Lors de la création d'applications, vous pouvez utiliser une large sélection d'éléments d'interface.
            </div>
        </div>
    </div>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/003.png" alt="api2app">
        </div>
        <div class="order-last lg:order-first text-center lg:text-right px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Créer des applications modernes</h4>
            <div>
                Créez des applications avec une interface agréable et moderne en quelques minutes seulement.
                <br>
                Utilisez vos paramètres de confidentialité.
            </div>
        </div>
    </div>
</ng-template>

<ng-template #deTemplate>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/004.png" alt="api2app">
        </div>
        <div class="text-center lg:text-left px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Apps erstellen und Geld verdienen</h4>
            <div>
                Sie können eine App erstellen und Zahlungen für deren Nutzung akzeptieren.
            </div>
        </div>
    </div>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="relative">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/001.png" alt="api2app">
        </div>
        <div class="order-last lg:order-first text-center lg:text-right px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Testen der API</h4>
            <div>
                Hier können Sie Ihre APIs testen und mit anderen Community-Mitgliedern teilen.
                <br>
                Keine Sorge um private Daten, diese können nur serverseitig verwendet werden.
            </div>
        </div>
    </div>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/002.png" alt="api2app">
        </div>
        <div class="text-center lg:text-left px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Wählen Sie aus einer Vielzahl von UI-Elementen</h4>
            <div>
                Beim Erstellen von Anwendungen können Sie auf eine große Auswahl an Oberflächenelementen zurückgreifen.
            </div>
        </div>
    </div>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/003.png" alt="api2app">
        </div>
        <div class="order-last lg:order-first text-center lg:text-right px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Erstellen Sie moderne Anwendungen</h4>
            <div>
                Erstellen Sie in wenigen Minuten Anwendungen mit einer ansprechenden und modernen Benutzeroberfläche.
                <br>
                Nutzen Sie Ihre Datenschutzeinstellungen.
            </div>
        </div>
    </div>
</ng-template>

<ng-template #esTemplate>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/004.png" alt="api2app">
        </div>
        <div class="text-center lg:text-left px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Crea aplicaciones y gana dinero</h4>
            <div>
                Puedes crear una aplicación y aceptar pagos por su uso.
            </div>
        </div>
    </div>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="relative">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/001.png" alt="api2app">
        </div>
        <div class="order-last lg:order-first text-center lg:text-right px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Probar la API</h4>
            <div>
                Aquí puedes probar tus API y compartirlas con otros miembros de la comunidad.
                <br>
                No te preocupes por los datos privados, solo se pueden usar en el servidor.
            </div>
        </div>
    </div>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/002.png" alt="api2app">
        </div>
        <div class="text-center lg:text-left px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Elija entre una variedad de elementos de interfaz de usuario</h4>
            <div>
                Al crear aplicaciones, puede utilizar una amplia selección de elementos de interfaz.
            </div>
        </div>
    </div>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/003.png" alt="api2app">
        </div>
        <div class="order-last lg:order-first text-center lg:text-right px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Crear aplicaciones modernas</h4>
            <div>
                Crea aplicaciones con una interfaz agradable y moderna en tan solo unos minutos.
                <br>
                Utiliza tu configuración de privacidad.
            </div>
        </div>
    </div>
</ng-template>

<ng-template #ukTemplate>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/004.png" alt="api2app">
        </div>
        <div class="text-center lg:text-left px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Створюйте додатки та заробляйте гроші</h4>
            <div>
                Ви можете створити додаток і приймати платежі за його використання.
            </div>
        </div>
    </div>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="relative">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/001.png" alt="api2app">
        </div>
        <div class="order-last lg:order-first text-center lg:text-right px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Тестування API</h4>
            <div>
                Тут ви можете протестувати свої API та поділитися ними з іншими учасниками спільноти.
                <br>
                Не хвилюйтеся щодо конфіденційних даних, їх можна використовувати лише на стороні сервера.
            </div>
        </div>
    </div>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/002.png" alt="api2app">
        </div>
        <div class="text-center lg:text-left px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Вибирайте з різноманітних елементів інтерфейсу користувача</h4>
            <div>
                Під час створення додатків можна використовувати великий вибір елементів інтерфейсу.
            </div>
        </div>
    </div>
    <div class="lg:grid lg:grid-cols-2 items-center mb-6">
        <div class="">
            <img class="block overflow-hidden w-80 h-80 mx-auto object-cover rounded-full shadow-xl shadow-blue-200" src="assets/img/screenshots/003.png" alt="api2app">
        </div>
        <div class="order-last lg:order-first text-center lg:text-right px-3 text-cyan-700">
            <h4 class="text-2xl mb-3">Створюйте сучасні програми</h4>
            <div>
                Створюйте додатки з приємним та сучасним інтерфейсом лише за кілька хвилин.
                <br>
                Використовуйте налаштування конфіденційності.
            </div>
        </div>
    </div>
</ng-template>
