<main>
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">

        <h2 class="text-3xl tracking-tight text-gray-900 mb-4">
            Новости
        </h2>

        <div class="mb-4">
            <div class="mb-2 text-gray-400">
                08.12.2023
            </div>
            <div>
                Вышла альфа версия приложения на домене "api2app.ru". Пока нет регистрации для пользователей. Тестируем минимальный функционал.
            </div>
        </div>

    </div>
</main>
